.space-0, .space-top-0 {
    padding-top: 0 !important;
}

.space-0, .space-bottom-0 {
    padding-bottom: 0 !important;
}

.space-1, .space-top-1 {
    padding-top: 2rem !important;
}

.space-1, .space-bottom-1 {
    padding-bottom: 2rem !important;
}

.space-2, .space-top-2 {
    padding-top: 4rem !important;
}

.space-2, .space-bottom-2 {
    padding-bottom: 4rem !important;
}

.space-3, .space-top-3 {
    padding-top: 8rem !important;
}

.space-3, .space-bottom-3 {
    padding-bottom: 8rem !important;
}

.space-4, .space-top-4 {
    padding-top: 12.5rem !important;
}

.space-4, .space-bottom-4 {
    padding-bottom: 12.5rem !important;
}

.space-5, .space-top-5 {
    padding-top: 15rem !important;
}

.space-5, .space-bottom-5 {
    padding-bottom: 15rem !important;
}

.space-6, .space-top-6 {
    padding-top: 16rem !important;
}

.space-6, .space-bottom-6 {
    padding-bottom: 16rem !important;
}

.space-8, .space-top-8 {
    padding-top: 18rem !important;
}

.space-8, .space-bottom-8 {
    padding-bottom: 18rem !important;
}

.space-9, .space-top-9 {
    padding-top: 19rem !important;
}

.space-9, .space-bottom-9 {
    padding-bottom: 19rem !important;
}

.space-10, .space-top-10 {
    padding-top: 22rem !important;
}

.space-10, .space-bottom-10 {
    padding-bottom: 22rem !important;
}

@media (min-width: 576px) {
    .space-sm-0, .space-top-sm-0 {
        padding-top: 0 !important;
    }

    .space-sm-0, .space-bottom-sm-0 {
        padding-bottom: 0 !important;
    }

    .space-sm-1, .space-top-sm-1 {
        padding-top: 2rem !important;
    }

    .space-sm-1, .space-bottom-sm-1 {
        padding-bottom: 2rem !important;
    }

    .space-sm-2, .space-top-sm-2 {
        padding-top: 4rem !important;
    }

    .space-sm-2, .space-bottom-sm-2 {
        padding-bottom: 4rem !important;
    }

    .space-sm-3, .space-top-sm-3 {
        padding-top: 8rem !important;
    }

    .space-sm-3, .space-bottom-sm-3 {
        padding-bottom: 8rem !important;
    }

    .space-sm-4, .space-top-sm-4 {
        padding-top: 12.5rem !important;
    }

    .space-sm-4, .space-bottom-sm-4 {
        padding-bottom: 12.5rem !important;
    }

    .space-sm-5, .space-top-sm-5 {
        padding-top: 15rem !important;
    }

    .space-sm-5, .space-bottom-sm-5 {
        padding-bottom: 15rem !important;
    }

    .space-sm-6, .space-top-sm-6 {
        padding-top: 16rem !important;
    }

    .space-sm-6, .space-bottom-sm-6 {
        padding-bottom: 16rem !important;
    }

    .space-sm-8, .space-top-sm-8 {
        padding-top: 18rem !important;
    }

    .space-sm-8, .space-bottom-sm-8 {
        padding-bottom: 18rem !important;
    }

    .space-sm-9, .space-top-sm-9 {
        padding-top: 19rem !important;
    }

    .space-sm-9, .space-bottom-sm-9 {
        padding-bottom: 19rem !important;
    }

    .space-sm-10, .space-top-sm-10 {
        padding-top: 22rem !important;
    }

    .space-sm-10, .space-bottom-sm-10 {
        padding-bottom: 22rem !important;
    }
}

@media (min-width: 768px) {
    .space-md-0, .space-top-md-0 {
        padding-top: 0 !important;
    }

    .space-md-0, .space-bottom-md-0 {
        padding-bottom: 0 !important;
    }

    .space-md-1, .space-top-md-1 {
        padding-top: 2rem !important;
    }

    .space-md-1, .space-bottom-md-1 {
        padding-bottom: 2rem !important;
    }

    .space-md-2, .space-top-md-2 {
        padding-top: 4rem !important;
    }

    .space-md-2, .space-bottom-md-2 {
        padding-bottom: 4rem !important;
    }

    .space-md-3, .space-top-md-3 {
        padding-top: 8rem !important;
    }

    .space-md-3, .space-bottom-md-3 {
        padding-bottom: 8rem !important;
    }

    .space-md-4, .space-top-md-4 {
        padding-top: 12.5rem !important;
    }

    .space-md-4, .space-bottom-md-4 {
        padding-bottom: 12.5rem !important;
    }

    .space-md-5, .space-top-md-5 {
        padding-top: 15rem !important;
    }

    .space-md-5, .space-bottom-md-5 {
        padding-bottom: 15rem !important;
    }

    .space-md-6, .space-top-md-6 {
        padding-top: 16rem !important;
    }

    .space-md-6, .space-bottom-md-6 {
        padding-bottom: 16rem !important;
    }

    .space-md-8, .space-top-md-8 {
        padding-top: 18rem !important;
    }

    .space-md-8, .space-bottom-md-8 {
        padding-bottom: 18rem !important;
    }

    .space-md-9, .space-top-md-9 {
        padding-top: 19rem !important;
    }

    .space-md-9, .space-bottom-md-9 {
        padding-bottom: 19rem !important;
    }

    .space-md-10, .space-top-md-10 {
        padding-top: 22rem !important;
    }

    .space-md-10, .space-bottom-md-10 {
        padding-bottom: 22rem !important;
    }
}

@media (min-width: 992px) {
    .space-lg-0, .space-top-lg-0 {
        padding-top: 0 !important;
    }

    .space-lg-0, .space-bottom-lg-0 {
        padding-bottom: 0 !important;
    }

    .space-lg-1, .space-top-lg-1 {
        padding-top: 2rem !important;
    }

    .space-lg-1, .space-bottom-lg-1 {
        padding-bottom: 2rem !important;
    }

    .space-lg-2, .space-top-lg-2 {
        padding-top: 4rem !important;
    }

    .space-lg-2, .space-bottom-lg-2 {
        padding-bottom: 4rem !important;
    }

    .space-lg-3, .space-top-lg-3 {
        padding-top: 8rem !important;
    }

    .space-lg-3, .space-bottom-lg-3 {
        padding-bottom: 8rem !important;
    }

    .space-lg-4, .space-top-lg-4 {
        padding-top: 12.5rem !important;
    }

    .space-lg-4, .space-bottom-lg-4 {
        padding-bottom: 12.5rem !important;
    }

    .space-lg-5, .space-top-lg-5 {
        padding-top: 15rem !important;
    }

    .space-lg-5, .space-bottom-lg-5 {
        padding-bottom: 15rem !important;
    }

    .space-lg-6, .space-top-lg-6 {
        padding-top: 16rem !important;
    }

    .space-lg-6, .space-bottom-lg-6 {
        padding-bottom: 16rem !important;
    }

    .space-lg-8, .space-top-lg-8 {
        padding-top: 18rem !important;
    }

    .space-lg-8, .space-bottom-lg-8 {
        padding-bottom: 18rem !important;
    }

    .space-lg-9, .space-top-lg-9 {
        padding-top: 19rem !important;
    }

    .space-lg-9, .space-bottom-lg-9 {
        padding-bottom: 19rem !important;
    }

    .space-lg-10, .space-top-lg-10 {
        padding-top: 22rem !important;
    }

    .space-lg-10, .space-bottom-lg-10 {
        padding-bottom: 22rem !important;
    }
}

@media (min-width: 1200px) {
    .space-xl-0, .space-top-xl-0 {
        padding-top: 0 !important;
    }

    .space-xl-0, .space-bottom-xl-0 {
        padding-bottom: 0 !important;
    }

    .space-xl-1, .space-top-xl-1 {
        padding-top: 2rem !important;
    }

    .space-xl-1, .space-bottom-xl-1 {
        padding-bottom: 2rem !important;
    }

    .space-xl-2, .space-top-xl-2 {
        padding-top: 4rem !important;
    }

    .space-xl-2, .space-bottom-xl-2 {
        padding-bottom: 4rem !important;
    }

    .space-xl-3, .space-top-xl-3 {
        padding-top: 8rem !important;
    }

    .space-xl-3, .space-bottom-xl-3 {
        padding-bottom: 8rem !important;
    }

    .space-xl-4, .space-top-xl-4 {
        padding-top: 12.5rem !important;
    }

    .space-xl-4, .space-bottom-xl-4 {
        padding-bottom: 12.5rem !important;
    }

    .space-xl-5, .space-top-xl-5 {
        padding-top: 15rem !important;
    }

    .space-xl-5, .space-bottom-xl-5 {
        padding-bottom: 15rem !important;
    }

    .space-xl-6, .space-top-xl-6 {
        padding-top: 16rem !important;
    }

    .space-xl-6, .space-bottom-xl-6 {
        padding-bottom: 16rem !important;
    }

    .space-xl-8, .space-top-xl-8 {
        padding-top: 18rem !important;
    }

    .space-xl-8, .space-bottom-xl-8 {
        padding-bottom: 18rem !important;
    }

    .space-xl-9, .space-top-xl-9 {
        padding-top: 19rem !important;
    }

    .space-xl-9, .space-bottom-xl-9 {
        padding-bottom: 19rem !important;
    }

    .space-xl-10, .space-top-xl-10 {
        padding-top: 22rem !important;
    }

    .space-xl-10, .space-bottom-xl-10 {
        padding-bottom: 22rem !important;
    }
}

@media (min-width: 1480px) {
    .space-wd-0, .space-top-wd-0 {
        padding-top: 0 !important;
    }

    .space-wd-0, .space-bottom-wd-0 {
        padding-bottom: 0 !important;
    }

    .space-wd-1, .space-top-wd-1 {
        padding-top: 2rem !important;
    }

    .space-wd-1, .space-bottom-wd-1 {
        padding-bottom: 2rem !important;
    }

    .space-wd-2, .space-top-wd-2 {
        padding-top: 4rem !important;
    }

    .space-wd-2, .space-bottom-wd-2 {
        padding-bottom: 4rem !important;
    }

    .space-wd-3, .space-top-wd-3 {
        padding-top: 8rem !important;
    }

    .space-wd-3, .space-bottom-wd-3 {
        padding-bottom: 8rem !important;
    }

    .space-wd-4, .space-top-wd-4 {
        padding-top: 12.5rem !important;
    }

    .space-wd-4, .space-bottom-wd-4 {
        padding-bottom: 12.5rem !important;
    }

    .space-wd-5, .space-top-wd-5 {
        padding-top: 15rem !important;
    }

    .space-wd-5, .space-bottom-wd-5 {
        padding-bottom: 15rem !important;
    }

    .space-wd-6, .space-top-wd-6 {
        padding-top: 16rem !important;
    }

    .space-wd-6, .space-bottom-wd-6 {
        padding-bottom: 16rem !important;
    }

    .space-wd-8, .space-top-wd-8 {
        padding-top: 18rem !important;
    }

    .space-wd-8, .space-bottom-wd-8 {
        padding-bottom: 18rem !important;
    }

    .space-wd-9, .space-top-wd-9 {
        padding-top: 19rem !important;
    }

    .space-wd-9, .space-bottom-wd-9 {
        padding-bottom: 19rem !important;
    }

    .space-wd-10, .space-top-wd-10 {
        padding-top: 22rem !important;
    }

    .space-wd-10, .space-bottom-wd-10 {
        padding-bottom: 22rem !important;
    }
}